@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=EB+Garamond:ital,wght@1,400&display=swap');

html {
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000300;
    transition: background-color 0.3s ease;
}

body.light-mode {
    background-color: #ffffff;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}

@font-face {
  font-family: 'Geist Sans';
  src: url('/node_modules/geist/font/sans/GeistVariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/node_modules/geist/font/mono/GeistMonoVariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}
